@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

:root {
  /* Typography */
  --family: 'Nunito Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 22px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /* Other */
  --radius: .5rem;
  --shadow: rgba(59, 59, 59, 0.2) 0 8px 24px;
}

body[data-theme='dark'] {
  --color-text: hsl(0, 0%, 100%);
  --color-bg: hsl(207, 26%, 17%);
  --color-ui: hsl(209, 23%, 22%);
}

body[data-theme='light'] {
  --color-text: hsl(200, 15%, 8%);
  --color-bg: hsl(0, 0%, 98%);
  --color-ui: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--color-text);
  font-weight: var(--fw-light);
  background-color: var(--color-bg);
}